*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    justify-content: center;
}
.search-container{

    position: relative;
}
.search-container input{
    width: 350px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    transition: 0.4s ease-in-out;

}
html{
    --color-primary:#000000;
    --color-hover:#FCC61D;
    --color-gray:#D3DAD9;

    --bg-color:#EEEEEE;
}
.navbars{

    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 10px;
    position: fixed;
    z-index: 1000;
    
    /* gap: 20px; */
    
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-list a{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 25px;
    font-weight: 600;
}
.logo{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.logo p{
    font-size: 30px;
    font-weight: 800;
}
.search-container input:focus{
    width: 450px;
}
.search-container i{
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
}
/* .section{
    background-color: #13ff7d;
    height: 200vh;
    width: 100%;
} */
/* card-product */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 80vw;
    margin: auto;
    padding: 90px 0 0 0;

}
.card{
    /* width: 400px; */
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    z-index: 100;
    position: relative;
    
}
.img-card{
    margin: auto;
    /* width: 250px; */
}
.img-card img{
    width: 100%;
}
.img-card:hover img{
    transform: scale(1,1.1);
    filter: drop-shadow(5px 5px 20px rgb(255, 234, 0));
    

}
.des{
    color: var(--color-primary);
    font-size: 17px;
    margin: 15px;

}
.price{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 700;
   
    
}
.btn-card{
    width: 80%;
    background-color: var(--color-gray);
    padding: 10px 0px;
    border: none;
    margin: auto;
    border-radius: 5px;
    font-size: 19px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    

}
.btn-card:hover{
    background-color: var(--color-hover);
    font-size: 16px;
    font-weight: 500;
    

}

.discount-product{
    background-color: crimson;
    padding: 10px 20px;
    transform: rotate(35deg);
    position: absolute;
    top: 15px;

    right: 0;
    

    


}
.footer-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: var(--color-gray);
}
.hd-1{
    font-size: 25px;
    color: var(--color-primary);

}
.media{
    display: flex;
    justify-content: center;

}
.media-iterm img{
    width: 40px;
    margin-top: 10px;
    

}
.link-quick{
    list-style: none;
    margin-top: 10px;
}
.quick-iterm a{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 15px;
    padding: 10px;
}
/* product-detail */
.logo-product-detail {
    font-size: 30px;
    font-weight: 800;
}
.logo-detail{
    display: flex;
    align-items: center;
    gap: 15px;
}
.product-detail-container{
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    width: 80vw;
    margin: 30px auto;
}
.btn-back  button{
    width: 100px;
    text-decoration: none;
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
font-size: 20px;
margin-bottom: 10px;
padding: 5px 10px;
background-color: var(--color-gray);
}
.btn-back a{
    text-decoration: none;

}
.btn-back button:hover{
    background-color: var(--color-hover);
}
.detail-product-main h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.iterm-1 img{
    width: 70px;
}
.image-main img{
    width: 430px;
}

.stars{
    display: flex;
    gap: 5px;
    color: #FCC61D;
}
.stars i:nth-child(5){
    color: var(--color-primary);
}
.iterm-1{
    border: 1px solid ;
    text-align: center;
    background-color: var(--color-gray);
    margin-bottom: 10px;
    
    

}
.iterm-1 img:hover{
    filter: drop-shadow(5px 5px 20px yellow);
   
}
.image-main{
    text-align: center;
}
.price-detail{
    
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin: 10px 0;
    

  
}
.discription{
    font-size: 20px;
    color: var(--color-primary);
}
.btn-detail{
    display: flex;
    align-items: center;
}
.btn-detail input,button{
    width: 70px;
    height: 40px;

}
.btn-detail button{
    font-size: 30px;
    padding: 0 10px;
    width: 40px;
}
.btn-add button{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.btn-add button:hover{
    background-color: var(--color-hover);
}
.quantity-box label
{
    font-size: 20px;
    font-weight: 700;
}
.quantity-box{
    margin: 10px 0;
}
@media screen and (max-width:1200px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-list{
        display: none;
    }

    
}
@media screen and (max-width:992px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    
}
@media screen and (max-width:768px) {
    .card-container{
        display: grid;
        grid-template-columns:1fr;
    }
   
    .nav-list{
        display: none;
    }
   /* .footer-container{
    display: flex;
    position: fixed;
    z-index: 2000;
    width: 100vw;
   } */
   .product-detail-container{
    display: flex;
    flex-direction: column;

   }
   .main-iterm{
    display: none;
   }
  

    
}
/* slider */
.slides{
    
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.slide{
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}
.slide > img{
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    object-position: center; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2{
    animation-delay:4s ;
}
.slide-3{
    animation-delay:8s ;
}
@keyframes slide-show{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%,30%{
        opacity: 1;
        scale: 1.03;
    }
    50%{
        opacity: 0;
    }
}
